// Layout
.flex {
  display: flex;
}

$items: (
  "flex-start",
  "flex-end",
  'center',
);

$justify: (
  'start',
  'end',
  'center',
  'space-around',
  'space-evenly',
  'stretch',
);

@each $item in $items {
  .items-#{$item} {
    align-items: #{$item}
  }
}

@each $item in $justify {
  .justify-#{$item} {
    align-items: #{$item}
  }
}

.flex-wrap {
  flex-wrap: wrap;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.v-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.container {
  @media (min-width: $breakpoint-desktop) {
    max-width: 1420px;
    margin: 0 auto;
  }
}

#main {
  width: 100%;
  
  @media (min-width: $breakpoint-desktop) {
    width: calc(100% - 20rem);
  }
}

main section .section-img {
  margin-top: 3rem;
  margin-bottom: 3rem;
  display: block;
}

.section {
  @media (min-width: $breakpoint-desktop) {
    padding-bottom: 4rem;
  }
}

.icon {
  line-height: 1;
  text-decoration: none;
}

.card {
  background-color: #fff;
  padding: 1rem;
  border-radius: 0.5rem;
}

.footer {
  font-size: 0.875rem;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  text-align: center;

  @media (min-width: $breakpoint-desktop) {
    display: flex;
    align-items: center;
  }

  .footer-section {
    &:not(:last-child) {
      padding-bottom: 1rem;
    }
    @media (min-width: $breakpoint-desktop) {
      display: flex;
      align-items: center;
      padding-bottom: 0 !important;
    }
  }
}