@import "variables";
@import "normalize";
@import "typography";
@import "helpers";
@import "spacing";
@import "layout";
@import "components/button";
@import "components/alert";
@import "components/nav";
@import "../../node_modules/@splidejs/splide/dist/css/splide.min.css";
@import "vendor/splidejs";

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  background-color: $bg;
  scroll-behavior: smooth;
}

::-moz-selection {
  background: $secondary;
  color: #fff;
}
::selection {
  background: $secondary;
  color: #fff;
}

a {
  color: $primary;
  transition: color 0.1s ease-in;

  &:hover {
    color: $secondary;
  }
}

img {
  max-width: 100%;
}

table {
  width: 100%;
  border-collapse: collapse;

  tr.spacer {
    height: 1rem;
  }

  th,
  td {
    // border: 1px dashed $border;
    padding: 0.75rem;
  }

  th {
    font-weight: 700;
    text-align: left;
  }
}
table.bordered {
  th,
  td {
    border: 1px dashed $border;
  }
}
table.small {
  thead th {
    padding: 0.5rem;
  }
  tbody {
    th,
    td {
      padding: 0 0.5rem;
    }
  }
}

ol,
ul {
  list-style: none;
}

fieldset,
ol,
ul {
  margin: 0;
  padding: 0;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: $bg-darkmode;
    color: $text-darkmode;
  }

  a {
    color: $text-darkmode;

    &:hover,
    &.active {
      color: $secondary-darkmode;
    }
  }

  table.bordered {
    th,
    td {
      border-color: $border-darkmode;
    }
  }
}
