@use "variables" as v;

@mixin alert($color, $textColor: inherit) {
  padding: 0.3125rem;
  background-color: $color;
  color: $textColor;
  border-radius: 0.25rem;
  margin-bottom: 1rem;

  .alert-inner {
    border: 1px dashed darken($color, 15%);
    border-radius: 0.25rem;
    padding: 0.5rem;
  }
}

.alert {
  @include alert(v.$color-alert, v.$color-bg);
}
