@use "variables" as v;

@mixin button ($colorPrimary, $colorSecondary, $textColor: #fff) {
    background-color: $colorPrimary;
    border: 1px solid $colorPrimary;
    color: #fff;
    text-decoration: none;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    line-height: 1.667;
    padding: .375rem 1rem;
    display: inline-block;
    cursor: pointer;
    user-select: none;
    // border-radius: 0.25rem;
    transition: all .2s;
    outline: 0;

    &:hover {
        background: $colorSecondary;
        border-color: $colorSecondary;
        color: $textColor;
    }
    &:focus,
    &:active {
        background: darken($colorSecondary, 10%);
        border-color: darken($colorSecondary, 10%);
        color: $textColor;
    }
}

.button {
    @include button(v.$color-primary, v.$color-secondary);
}