$breakpoint-desktop: 960px;

// Palette
$hunterGreen: #386641;
$mayGreen: #6a994e;
$eggShell: #f2e8cf;
$cafeAuLait: #a98467;
$umber: #6c584c;
$jonquil: #ecc30b;
$eggShell95: #faf5eb;

// Colors
$color-white: $eggShell95;

$color-bg: $eggShell95;
$color-bg-dark: darken($umber, 20%);

$color-primary: darken($umber, 8%);

$color-secondary: $jonquil;
$color-secondary-dark: $mayGreen;

$color-alert: $mayGreen;

$color-text: $color-primary;
$color-text-dark: lighten($cafeAuLait, 20%);
$color-text-highlight: $cafeAuLait;

$color-border: $cafeAuLait;
$color-border-dark: $umber;

// Text
$text-font-primary: "Noto Serif", serif;
$text-font-secondary: "Noto Serif", serif;
$text-base: 1rem;
$text-ratio: 1.25; // Major third
$text-body: $text-base;
$text-line-height: 1.75;
$text-h5: $text-base * $text-ratio;
$text-h4: $text-h5 * $text-ratio;
$text-h3: $text-h4 * $text-ratio;
$text-h2: $text-h3 * $text-ratio;
$text-h1: $text-h2 * $text-ratio;
$text-h-line-height: 1.3;
$text-small: 0.8rem;

// Text mobile
$text-mobile-ratio: 1.2; // Minor third
$text-mobile-h5: $text-base * $text-mobile-ratio;
$text-mobile-h4: $text-mobile-h5 * $text-mobile-ratio;
$text-mobile-h3: $text-mobile-h4 * $text-mobile-ratio;
$text-mobile-h2: $text-mobile-h3 * $text-mobile-ratio;
$text-mobile-h1: $text-mobile-h2 * $text-mobile-ratio;
