---
const year = new Date().getFullYear();
---

<footer class="flex pb-3">
  <a href="reglement" class="mr-2">Reglementen</a>
  <a href="privacy" class="mr-2">Privacyverklaring</a>
  <p class="m-0 ml-auto">
    © {year} PSV Westfriesland
  </p>
</footer>

<style lang="scss">
  footer {
    font-size: 0.875rem;
    max-width: 70ch;
  }
</style>
