---
const year = new Date().getFullYear();
---

<footer class="pb-3">
  <p class="m-0 mr-2">
    © {year} PSV Westfriesland
  </p>
  <a href="reglement" class="mr-2" target="_blank">Reglementen</a>
  <a href="privacy" class="mr-2" target="_blank">Privacyverklaring</a>
</footer>
