// Mobile navigation
%nav {
  font-family: "Roboto Slab", serif;
  font-weight: 500;
  font-size: 1.25rem;

  a {
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.1s ease-in;
  }
  a:hover {
    color: $primary;
  }
  // a.active {
  //   color: $primary;
  //   border-color: $primary;
  // }
}

#mobile-nav {
  background-color: $primary;
  color: $secondary;
  position: fixed;
  inset: 0;
  display: grid;
  align-content: space-between;
  padding: 1rem;
  text-align: center;
  z-index: 999;
  transform: translateX(100%);
  transition: transform 325ms ease-out;
  @extend %nav;

  a,
  a:hover {
    color: $secondary;
  }
}

#mobile-nav[data-visible="true"] {
  transform: translateX(0);
}

#mobile-nav-toggle {
  background-color: $primary;
  width: 3.25rem;
  aspect-ratio: 1;
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9999;

  span {
    background-color: $secondary;
    display: block;
    height: 2px;
    left: calc(50% - 11px);
    position: absolute;
    transform-origin: center;
    transition-duration: 86ms;
    transition-property: background-color, opacity, transform;
    transition-timing-function: ease-out;
    width: 20px;

    &:nth-child(1) {
      top: calc(50% - 6px);
    }
    &:nth-child(2) {
      top: calc(50% - 1px);
    }
    &:nth-child(3) {
      top: calc(50% + 4px);
    }
  }

  @media (max-width: $breakpoint-desktop) {
    display: block;
  }
}

#mobile-nav-toggle[aria-expanded="true"] {
  span {
    &:nth-child(1) {
      transform: translateY(5px) rotate(45deg);
    }
    &:nth-child(2) {
      opacity: 0;
    }
    &:nth-child(3) {
      transform: translateY(-5px) rotate(-45deg);
    }
  }
}

// main Navigation
#main-nav {
  display: none;
  position: sticky;
  width: 100%;
  max-width: 20rem;
  height: 100vh;
  border-right: 1px dashed $border;
  top: 0;
  @extend %nav;

  @media (min-width: $breakpoint-desktop) {
    display: block;
  }
}

@media (prefers-color-scheme: dark) {
  #main-nav {
    border-color: $border-darkmode;

    a {
      color: $text-darkmode;

      &:hover {
        color: $secondary-darkmode;
      }
    }

    a.active {
      color: $text-darkmode;
      border-color: $text-darkmode;
    }
  }
}
