$breakpoint-desktop: 960px;

// Palette
$hunterGreen: #386641;
$mayGreen: #6a994e;
$eggShell: #f2e8cf;
$cafeAuLait: #a98467;
$umber: #6c584c;
$jonquil: #ecc30b;
$eggShell95: #faf5eb;

$white: $eggShell95;
$bg: $eggShell95;
$bg-darkmode: darken($umber, 20%);
$primary: darken($umber, 8%);
$secondary: $jonquil;
$secondary-darkmode: $mayGreen;
$alert: $mayGreen;
$text: $primary;
$text-darkmode: lighten($cafeAuLait, 20%);
$border: $cafeAuLait;
$border-darkmode: $umber;
